<div class="container">
    <div class="post-wrap about">
        <h2 class="post-title">&nbsp;关于&nbsp;</h2>
        <div class="post-content" style="padding-top: 0px;">
            <h2>我是谁</h2>
            <p>
                Horace, 一个不入流的 Java 程序员。</br>
                喜欢折腾研究新技术然后弃坑。</br>
                自嘲没有 JetBrains 全家桶就写不出代码，没有 Google 和 StackOverflow 就解决不了技术问题。
            </p>

            <h2>小目标</h2>
            <h3>投身开源</h3>
            <p>工作之余每天学点新东西, 向 Github 上的大神们学习。</p>
            <p>争取点满 Commit 记录图。</p>
            <img src="https://ghchart.rshah.org/409ba5/zhaohaihao" alt="GitHub Chart">
            <p>
                (ps: 动动小手, 欢迎 follow)&nbsp;&nbsp;<iframe src="https://ghbtns.com/github-btn.html?user=zhaohaihao&type=follow&count=true" frameborder="0" scrolling="0" width="200px" height="20px"></iframe>
            </p>
        
            <h3>坚持阅读</h3>
            <p>养成读书习惯, 积少成多。</p>
        </div>
    </div>
</div>