// ==============================
// Custom style
// ==============================
//  Also You can override the variables in variable.styl to customize the style
.new-meta-item-posts
   color rgba(85,85,85,0.7)
   font-size 14px
   line-height 24px
   display flex
   align-items center
   padding 2px
   margin 4px 8px 4px 0
   border-radius 4px

   &.dark-theme
   	color #a9a9b3